<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <title>Yjx's Website</title>
    <link href="/static/common-css/2.2b8316e7.chunk.css" rel="stylesheet">
    <link href="/static/common-css/main.459d4172.chunk.css" rel="stylesheet">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b962431ec640eb9b1c50a3c20c5967b5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<!--<div id="visitCount">访问次数：</div>-->
<!--<script>-->
<!--    $("#visitCount").text(s);-->
<!--</script>-->

<script src="/static/js/index.js"></script>
<script src="/static/common-js/2.12191df5.chunk.js"></script>
<script src="/static/common-js/main.1500f7d1.chunk.js"></script>
</body>
</html>